/* google font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* basic typography setup start*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Lato', sans-serif
}
/* basic typography setup end*/
/* component section design start */

a{
    text-decoration: none;
    padding: 12px 26px;
    background-color: var(---btn-back);
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    border-radius: 5px;
}
button{
    background: none;
    border:none;
    color: rgb(255, 255, 255);
}
p{
    color:var(---paragraph-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
h2{
    color:var(---heading-color);
    font-size: 32px;
    font-weight: 700;
    line-height: 34px;
}
:root{
    /* ---div2-border:1px solid #000;
    ---div-border:1px solid red; */
    ---heading-color:rgb(39, 39, 39);
    ---paragraph-color:rgba(39, 39, 39, 0.6);
    ---btn-back:rgb(229, 84, 115);
}
/* component section design  end */
/* header section design start */
/* hero section design start */
    .hero-section{
        border:var(---div-border);
        max-width: 1300px;
        /* height: 580px; */
        margin:0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap:220px;
        background: rgba(229, 84, 115, 0.1);
    }
    .hero-left{
        border:var(---div-border);
        max-width: 450px;
        /* height: 450px; */
    }
    .hero-left h1{
        color:var(---heading-color);
        font-size: 60px;
        font-weight: 800;
        line-height: 60px;
        margin:10px 0px 32px
    }
    .hero-left p{
        margin: 0px 0px 35px 0;
    }
    .hero-right{
        border:var(---div-border);
        max-width: 450px;
        /* height: 550px; */
    }
    .hero-right img{
        max-width: 450px;
        height: 550px;
    }
    
/* hero section design end */
/* header section design end */
/* main section disign start */
/* featured section design start */
.featured-section{
    border:var(---div-border);
    max-width: 1120px;
    /* height: 550px; */
    margin:100px auto;
}
.featured-section header{
    border:var(---div-border);
    margin:0 auto 60px;
    text-align: center;
    max-width: 450px;
    
}
.featured-section footer{
    border:var(---div2-border);
    max-width: 1120px;
    display: flex;
    align-items: end;
    justify-content: center;
    gap:20px;
}
.featured-section footer .img-container{
    border: var(---div-border);
    max-width: 400px;
    /* height: 420px; */
    display: flex;
    align-items: end;
    justify-content: center;
    border-radius: 230px 230px 0 0;

}
.featured-section footer .img-container:nth-child(2){
    background: rgba(5, 151, 160, 0.15);
}
.featured-section footer .img-container:nth-child(1){
    background: rgba(167, 33, 98, 0.15);
}
.featured-section footer .img-container:nth-child(3){
    background: rgba(71, 125, 17, 0.15);
}
.featured-section footer .img-container .image{
    border: var(---div2-border);
    max-width: 280px;
    /* height: 370px; */
}
.image img{
    max-width:100%;
    height: 270px;
}
/* featured section design end */
/* support section design start */
.support-section{
    border: var(---div-border);
    max-width: 1120px;
    /* height:300px; */
    margin:60px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: rgba(39, 39, 39, 0.05);
}
.support-section .container{
    border: var(---div2-border);
    width: 300px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba(39, 39, 39, 0.8);
    text-align: center;
}
.support-section .container img{
    max-width: 100%;

}
